<h3><a class="btn btn-secondary" href="/student/create"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.city}}</td>
                <td>
                    <a href="/edit/{{this._id}}"><i class="fa fa-edit"></i></a>
                    <a onclick="return confirm('Are you sure want to delete?')" href="/{{this._id}}/delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>